[run]
# All files under source are checked, even if not otherwise referenced.
source = .

# More strict: Check transitions between lines, not just individual lines.
branch = True

omit = setup.py

[report]
show_missing = True
skip_covered = True
fail_under = 100
